
<!DOCTYPE html>
<html>

<head>
  <!--<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />-->
  <script defer src="https://pyscript.com/alpha/pyscript.js"></script>
</head>

<body>
  <div>Type an sample input here</div>
  <input type="text" id="test-input"/>
  <button id="submit-button" type="submit" pys-onClick="my_function">OK</button>
  <div id="test-output"></div>
<py-script>
from js import console
def my_function(*args, **kwargs):

    text = Element('test-input').element.value
    console.log(f'text: {text}')

    Element('test-output').element.innerText = text
    Element('test-output').element.classList.add('text-danger')    
</py-script>

  </body>
</html>