<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baymarket</title>
    <link rel="shortcut icon" href="" type="image/webp">

    
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


    <link rel="stylesheet" href="/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/default.css">
    <link rel="stylesheet" href="/assets/css/plugins/fontawesom.css">

    <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/owl/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/scss/style.css">
    <link rel="stylesheet" href="/assets/scss/style.css.map">

</head>
<body>
    
    <div id="menu-katalog" class="menu-katalog d-none opacity_">
        <div class="menu-blog">
            <div class="menu-blog-nav">
                <div class="container">
                    <div class="nav-logo" id="nav-logo">
                        <img src="/assets/img/logo/logo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="menu-blog-body">
                <div class="container">
                    <div class="grid-father">
                        <div class="mbb-box">
                            <div class="mbb-box-img">
                                <img src="/assets/img/baycar/element/baymarketbig.png" alt="">
                            </div>
                            <h5>Bay Market</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptatibus.</p>
                            <a href="#." class="more-btn">Batafsil</a>
                        </div>
                        <div class="mbb-box">
                            <div class="mbb-box-img">
                                <img src="/assets/img/baycar/element/baycarbig.png" alt="">
                            </div>
                            <h5>Bay Car</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptatibus.</p>
                            <a href="#." class="more-btn">Batafsil</a>
                        </div>
                        <div class="mbb-box">
                            <div class="mbb-box-img">
                                <img src="/assets/img/baycar/element/bayworkbig.png" alt="">
                            </div>
                            <h5>Bay Work</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptatibus.</p>
                            <a href="#." class="more-btn">Batafsil</a>
                        </div>
                        <div class="mbb-box">
                            <div class="mbb-box-img">
                                <img src="/assets/img/baycar/element/bayhousebig.png" alt="">
                            </div>
                            <h5>Bay Work</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptatibus.</p>
                            <a href="#." class="more-btn">Batafsil</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="menu-blog-mobile">
                <div class="mb-about">
                    <div class="nav-logo" id="nav-logo">
                        <img src="/assets/img/logo/logo.png" alt="">
                    </div>
                    <h4>Xushkelibsiz</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
                <div class="mb-box">
                    <div class="title-name">
                        <a href="#.">
                            <h5>Bay Market</h5>
                            <p>3 456 E'lonlar</p>
                        </a>
                    </div>
                    <div class="title-name-img">
                        <a href="#.">
                            <img src="/assets/img/baycar/element/baymarketsmall.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="mb-box">
                    <div class="title-name">
                        <a href="#.">
                            <h5>Bay Car</h5>
                            <p>12 478 E'lonlar</p>
                        </a>
                    </div>
                    <div class="title-name-img">
                        <a href="#.">
                            <img src="/assets/img/baycar/element/baycarsmall.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="mb-box">
                    <div class="title-name">
                        <a href="#.">
                            <h5>Bay Work</h5>
                            <p>1 361 E'lonlar</p>
                        </a>
                    </div>
                    <div class="title-name-img">
                        <a href="">
                            <img src="/assets/img/baycar/element/bayworksmall.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="mb-box">
                    <div class="title-name">
                        <a href="#.">
                            <h5>Bay House</h5>
                            <p>3 787 E'lonlar</p>
                        </a>
                    </div>
                    <div class="title-name-img">
                        <a href="#.">
                            <img src="/assets/img/baycar/element/bayhousesmall.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main id="page">
        <div id="navigation" class="navigation">
            <div class="container">
                <div class="nav-grid">
                    <div class="nav-grid-child ">
                        <div class="nav-logo">
                            <a href="index.html">
                                <img src="/assets/img/logo/logo.png" alt="">
                            </a>
                        </div>
                    </div>
    
                    <div class="nav-grid-child nav-search">
                            <div>
                                <div class="nav-catalog-btn" id="katalog-btn">
                                    <ion-icon name="menu-outline"></ion-icon>
                                    <p>Katalog</p>
                                </div>
                            </div>
                            <div>
                                <div class="search-bar">
                                    <input type="text">
                                    <ion-icon class="s-r-i" name="close-outline"></ion-icon>
                                    <button type="submit">Qidiruv</button>
                                </div>
                            </div>
                    </div>
                    
                    <div class="nav-grid-child ">
                        <div class="nav-menu">
                            <div class="nav-icon text-center">
                                <a href="wishlist.html">
                                    <ion-icon name="heart-outline"></ion-icon>
                                    <p>Sevimlilar</p>
                                </a>
                            </div>
    
                            <div class="nav-icon text-center">
                                <a href="#.">
                                    <ion-icon name="duplicate-outline"></ion-icon>
                                    <p>E'lon berish</p>
                                </a>
                            </div>
    
                            <div class="nav-icon text-center">
                                <a href="chat.html" class="active">
                                    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                                    <p>Xabarlar</p>
                                </a>
                            </div>
    
                            <div class="nav-icon text-center">
                                <a href="#.">
                                    <ion-icon name="person-circle-outline"></ion-icon>
                                    <p>Profil</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="nav-mobile">
    
                    <div class="nav-mobile-header">
                        <div class="nav-mobile-child">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </div>                
                        <div class="nav-mobile-child">
                            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        </div>
                        <div class="nav-mobile-child">
                            <div class="nav-mobile-logo" id="nav-logo">
                                <a href="index.html">
                                    <img src="/assets/img/logo/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="nav-mobile-child">
                            <ion-icon name="heart-outline"></ion-icon>
                        </div>                
                        <div class="nav-mobile-child">
                            <ion-icon name="duplicate-outline"></ion-icon>
                        </div>
                    </div>
    
                    <div class="nav-mobile-body">
                        <div class="nav-mobile-child">
                            <ion-icon name="menu-outline" id="katalog-btn"></ion-icon>
                        </div>
                        <div class="nav-mobile-child">
                            <div class="search-bar">
                                <ion-icon name="search-outline"></ion-icon>
                                <input type="text" placeholder="Qidirish">
                            </div>
                        </div>
                        <div class="nav-mobile-child">
                            <button style="border: none; background: transparent;" data-toggle="modal" data-target="#filter-modal">
                                <img class="filter-icon" src="/assets/img/baycar/element/filter.png" alt="">
                            </button>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

        <div class="container">
            <ol class="breadcrumb mb-0 mt-2 b-background">
                <li class="breadcrumb-item"><a href="#" class="t-dark-grey">BayCar</a></li>
                <li class="breadcrumb-item t-primary">Xabarlar</li>
            </ol>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
    
                <div class="row">
    
                    <div class="col-lg-12 col-md-12">
                        <div class="card card-body mb-3" style="border: none; border-radius: 8px !important;">
                            <h5>Xabarlar</h5>
                            <form action="">
                                <div class="d-flex align-items-center pb-1 pt-3">
                                    <input type="radio" style="width: 17px; height: 17px;" name="qq" id="check">
                                    <label for="check" class="mb-0 pl-2 text-muted">Sotish</label>
                                </div>
                                <div class="d-flex align-items-center py-2">
                                    <input type="radio" checked style="width: 17px; height: 17px;" name="qq" id="check1">
                                    <label for="check1" class="mb-0 pl-2">Sotib olish</label>
                                </div>
                            </form>
                        </div>
                    </div>
    
                    <!-- oqilmagan chatlar start-->
                    <div class="col-lg-12 col-md-6 col-sm-12">
                        <div style="border-radius: 8px;" class="mb-3">
                            <div style="border-radius: 8px 8px 0 0; border: 1px solid #E4EFF3;" class="p-3 b-white d-flex align-items-center justify-content-between">
                                <h5>O'qilmagan</h5>
                                <ion-icon name="trash-outline"></ion-icon>
                            </div>
        
                            <!-- ============ -->
                            <!-- <div id="no_message" style="border: 2px solid #E4EFF3; border-radius: 0 0 8px 8px; border-top: 0;" class="text-center py-5">
                                <img src="/assets/img/baycar/element/no_message.png" alt="">
                                <h5 class="mb-3 mt-2">Xabarlar ro'yhatingiz bo'sh!</h5>
                                <small class="text-muted">Sizni qiziqtirgan mahsulot egasi bilan <br> muloqot qilishingiz mumkin</small>
                            </div> -->
                            <!-- ============ -->
        
                            <div class="b-white d-flex align-items-center justify-content-around p-2" style="border: 1px solid #E4EFF3;">
                                <div>
                                    <img width="70" src="/assets/img/baycar/element/Single.png" style="object-fit: cover; border-radius: 50%;" alt="">
                                </div>
                                <div class="">
                                    <p class="mb-0"><b>Akbarova Umida</b></p>
                                    <span class="badge badge-light badge-pill t-dark-grey p-2 px-3 my-2">Chevrolet Nexia 2, 1 pozitsiya DONC</span>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="t-link">Yangi Habarlar +<span>2</span></p>
                                        <p class="t-dark-grey">12:40</p>
                                    </div>
                                </div>
                            </div>
                            <div class="b-white d-flex align-items-center justify-content-around p-2" style="border: 1px solid #E4EFF3;">
                                <div>
                                    <img width="70" src="/assets/img/baycar/element/Single.png" style="object-fit: cover; border-radius: 50%;" alt="">
                                </div>
                                <div class="">
                                    <p class="mb-0"><b>Akbarova Umida</b></p>
                                    <span class="badge badge-light badge-pill t-dark-grey p-2 px-3 my-2">Chevrolet Nexia 2, 1 pozitsiya DONC</span>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="t-link">Yangi Habarlar +<span>2</span></p>
                                        <p class="t-dark-grey">12:40</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- oqilmagan chatlar end-->
    
                    <!-- oqilgan chatlar start-->
                    <div class="col-lg-12 col-md-6 col-sm-12">
                        <div style="border-radius: 8px;" class="mb-3">
                            <div style="border-radius: 8px 8px 0 0; border: 1px solid #E4EFF3" class="p-3 b-white d-flex align-items-center justify-content-between">
                                <h5>O'qilgan</h5>
                                <ion-icon name="trash-outline"></ion-icon>
                            </div>
                            <div class="b-och-havo d-flex align-items-center justify-content-around p-2" style="border: 1px solid #E4EFF3;">
                                <div>
                                    <img width="70" src="/assets/img/baycar/element/Single.png" style="object-fit: cover; border-radius: 50%;" alt="">
                                    
                                </div>
                                <div class="">
                                    <p class="mb-0"><b>Akbarova Umida</b></p>
                                    <span class="badge badge-light badge-pill t-dark-grey p-2 px-3 my-2">Chevrolet Nexia 2, 1 pozitsiya DONC</span>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="t-dark-grey">Vaalaykum Assalom!</p>
                                        <p class="t-dark-grey">12:40</p>
                                    </div>
                                </div>
                            </div>
                            <div class="b-och-havo d-flex align-items-center justify-content-around p-2" style="border: 1px solid #E4EFF3;">
                                <div>
                                    <img width="70" src="/assets/img/baycar/element/Single.png" style="object-fit: cover; border-radius: 50%;" alt="">
                                    
                                </div>
                                <div class="">
                                    <p class="mb-0"><b>Akbarova Umida</b></p>
                                    <span class="badge badge-light badge-pill t-dark-grey p-2 px-3 my-2">Chevrolet Nexia 2, 1 pozitsiya DONC</span>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="t-dark-grey">Vaalaykum Assalom!</p>
                                        <p class="t-dark-grey">12:40</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- oqilgan chatlar end-->
            
                </div>
                </div>
    
                <div class="col-lg-8 col-md-12">
    
                    <div class="b-white p-3" style="border-radius: 8px;">
                        <div class="card card-body px-0" style="border: none;">
    
                            <!-- ============= -->
                            <!-- <div id="no_message_big" class="pt-5 text-center">
                                <img src="/assets/img/baycar/element/no_message_big.png" width="200" class="pt-5 mt-5 mb-3"><br>
                                <small class="text-muted">O'qish uchun ma'lumot tanlang</small>
                            </div> -->
                            <!-- ============= -->
        
                            <div style="border-radius: 8px;" class="b-och-havo p-3 d-flex align-items-center justify-content-start">
                                <img src="/assets/img/baycar/products/nexia1.png" height="100%" width="140px" style="object-fit: cover;" alt="">
                                <div class="pl-3">
                                    <p class="mb-2">Akbarova Umida</p>
                                    <h5 class="t-link mb-3 font-weight-normal">Chevrole Nexia 3 DONC</h5>
                                    <small>ID: <span>9687063</span></small>
                                </div>
                            </div>
        
                            <div>
                                <div class="text-center mt-3">
                                    <small class="p-2 b-white">23.03.2222</small>
                                    <hr class="" style="margin-top: -10px;">
                                </div>
            
                                <div id="chat-block">
                                    <!-- ============== -->
                                    <div class="row self-message">
                                        <div class="col-2"></div>
                                        <div class="col-10 d-flex justify-content-end">
                                            <div class="">
                                                <small>Xabaringiz</small><br>
                                                <span class="py-3 mt-1 pl-3 pr-2 b-och-havo rounded row no-gutters align-items-end">
                                                    <div class="col-11 pr-1"><p>sit amet cons ectetur adi pis ici odisgjdsf sod vndf sodkv svjdv dojvd sojfbs sdojfd vodj f v ndf</p></div>
                                                    <div class="col-1 text-center"><img src="/assets/img/baycar/element/Group.png" class="img-fluid" alt=""></div>
                                                </span>
                                                <div class="text-right pt-1 pr-3 pb-0">08:33</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ============== -->
                                    
                                    <!-- ============== -->
                                    <div class="row another-message">
                                        <div class="col-10 d-flex justify-content-start">
                                            <div class="">
                                                <small>Akbarova brbalo</small><br>
                                                <span class="p-3 mt-1 b-och-havo rounded row no-gutters">
                                                    <div class="col-12">
                                                        <p>Lorem ipsum dolor sit amet conssss fdokvdf dfkvdfv odfv dfv dfokv  q</p>
                                                    </div>
                                                </span>
                                                <div class="pt-1 pl-3">08:33</div>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                    <!-- ============== -->
                                </div>
                            </div>
                            
                        </div>
                        
                        <div style="position: fixed bottom;" class="pt-4 mt-2">
                            <textarea name="" rows="5" class="form-control b-background" style="border-radius: 8px;" placeholder="Xabaringizni yozing..."></textarea>
                            <div class="d-flex justify-content-end">
                                <button class="btn text-white btn-gradient mt-3">Yuborish</button>
                            </div>
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    
        <section id="footer" class="footer">
            <div class="footer-widget">
                <div class="container">
                    <div class="footer-grid">
                         <div class="footer-grid-child">
                             <div class="footer-about">
                                 <div class="nav-logo">
                                     <img src="../assets/img/logo/logo.png" alt="">
                                 </div>
                                 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam aspernatur labore, sed incidunt necessitatibus! </p>
                             </div>
                         </div>
                         <div class="footer-grid-child">
                            <div class="footer-service-link">
                                <h4>Bizning xizmatlar</h4>
                                <ul>
                                    <li><a href="#.">Bay Market</a></li>
                                    <li><a href="#.">Bay Car</a></li>
                                    <li><a href="#.">Bay Work</a></li>
                                    <li><a href="#.">Bay House</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-grid-child">
                            <div class="footer-service-link">
                                <h4>Legal</h4>
                                <ul>
                                    <li><a href="#.">Privacy Policy</a></li>
                                    <li><a href="#.">Terms & Conditions</a></li>
                                    <li><a href="#.">Cookie Policy</a></li>
                                    <li><a href="#.">Refunds & Returns</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-grid-child">
                            <div class="footer-service-link">
                                <h4>Contact</h4>
                                <ul>
                                    <li><a href="#.">My Account</a></li>
                                    <li><a href="#.">F.A.Q</a></li>
                                    <li><a href="#.">Support Desk</a></li>
                                    <li><a href="#.">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-grid-child">
                            <div class="footer-download">
                                <h4>Download</h4>
                                <div class="download-img">
                                    <img src="/assets/img/googleplay.png" alt="">
                                    <img src="/assets/img/appstore.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="footer-bottom">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <p>&copy 2022 Bay Market All Right Reserved</p>
                            </div>
    
                            <div class="col-6">
                                <div class="footer-bottom-icon d-flex justify-content-end">
                                    <img src="../assets/img/icon/Facebook.png"  class="mx-3" alt="">
                                    <img src="../assets/img/icon/Instagram.png" class="mx-3" alt="">
                                    <img src="../assets/img/icon/Twitter.png" class="ml-3" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    

    <script src="/assets/js/vendor/jquery-3.5.0.min.js"></script>
    <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap/propper.min.js"></script>
    <script src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/plugins/slick.min.js"></script>
    <script src="/assets/js/plugins/nav-tool.js"></script>
    <script src="/assets/js/plugins/plugins.js"></script>
    <script src="/assets/js/owl/owl.carousel.js"></script>
    <script src="/assets/js/owl/owl.carousel.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>