<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baymarket</title>
    <link rel="shortcut icon" href="" type="image/webp">

    
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


    <link rel="stylesheet" href="/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/default.css">
    <link rel="stylesheet" href="/assets/css/plugins/fontawesom.css">

    <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/owl/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/scss/style.css">
    <link rel="stylesheet" href="/assets/scss/style.css.map">

</head>
<body>
    
    <div id="menu-katalog" class="menu-katalog d-none opacity_">
        <div class="menu-blog">
            <div class="menu-blog-nav">
                <div class="container">
                    <div class="nav-logo" id="nav-logo">
                        <img src="/assets/img/logo/logo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="menu-blog-body">
                <div class="container">
                    <div class="grid-father">
                        <div class="mbb-box">
                            <div class="mbb-box-img">
                                <img src="/assets/img/baycar/element/baymarketbig.png" alt="">
                            </div>
                            <h5>Bay Market</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptatibus.</p>
                            <a href="#." class="more-btn">Batafsil</a>
                        </div>
                        <div class="mbb-box">
                            <div class="mbb-box-img">
                                <img src="/assets/img/baycar/element/baycarbig.png" alt="">
                            </div>
                            <h5>Bay Car</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptatibus.</p>
                            <a href="#." class="more-btn">Batafsil</a>
                        </div>
                        <div class="mbb-box">
                            <div class="mbb-box-img">
                                <img src="/assets/img/baycar/element/bayworkbig.png" alt="">
                            </div>
                            <h5>Bay Work</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptatibus.</p>
                            <a href="#." class="more-btn">Batafsil</a>
                        </div>
                        <div class="mbb-box">
                            <div class="mbb-box-img">
                                <img src="/assets/img/baycar/element/bayhousebig.png" alt="">
                            </div>
                            <h5>Bay Work</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptatibus.</p>
                            <a href="#." class="more-btn">Batafsil</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="menu-blog-mobile">
                <div class="mb-about">
                    <div class="nav-logo" id="nav-logo">
                        <img src="/assets/img/logo/logo.png" alt="">
                    </div>
                    <h4>Xushkelibsiz</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
                <div class="mb-box">
                    <div class="title-name">
                        <a href="#.">
                            <h5>Bay Market</h5>
                            <p>3 456 E'lonlar</p>
                        </a>
                    </div>
                    <div class="title-name-img">
                        <a href="#.">
                            <img src="/assets/img/baycar/element/baymarketsmall.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="mb-box">
                    <div class="title-name">
                        <a href="#.">
                            <h5>Bay Car</h5>
                            <p>12 478 E'lonlar</p>
                        </a>
                    </div>
                    <div class="title-name-img">
                        <a href="#.">
                            <img src="/assets/img/baycar/element/baycarsmall.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="mb-box">
                    <div class="title-name">
                        <a href="#.">
                            <h5>Bay Work</h5>
                            <p>1 361 E'lonlar</p>
                        </a>
                    </div>
                    <div class="title-name-img">
                        <a href="">
                            <img src="/assets/img/baycar/element/bayworksmall.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="mb-box">
                    <div class="title-name">
                        <a href="#.">
                            <h5>Bay House</h5>
                            <p>3 787 E'lonlar</p>
                        </a>
                    </div>
                    <div class="title-name-img">
                        <a href="#.">
                            <img src="/assets/img/baycar/element/bayhousesmall.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <main id="page">
        <div id="navigation" class="navigation">
            <div class="container">
                <div class="nav-grid">
                    <div class="nav-grid-child ">
                        <div class="nav-logo">
                            <a href="index.html">
                                <img src="/assets/img/logo/logo.png" alt="">
                            </a>
                        </div>
                    </div>
    
                    <div class="nav-grid-child nav-search">
                            <div>
                                <div class="nav-catalog-btn" id="katalog-btn">
                                    <ion-icon name="menu-outline"></ion-icon>
                                    <p>Katalog</p>
                                </div>
                            </div>
                            <div>
                                <div class="search-bar">
                                    <input type="text">
                                    <ion-icon class="s-r-i" name="close-outline"></ion-icon>
                                    <button type="submit">Qidiruv</button>
                                </div>
                            </div>
                    </div>
                    
                    <div class="nav-grid-child ">
                        <div class="nav-menu">
                            <div class="nav-icon text-center">
                                <a href="wishlist.html" class="active">
                                    <ion-icon name="heart-outline"></ion-icon>
                                    <p>Sevimlilar</p>
                                </a>
                            </div>
    
                            <div class="nav-icon text-center">
                                <a href="#.">
                                    <ion-icon name="duplicate-outline"></ion-icon>
                                    <p>E'lon berish</p>
                                </a>
                            </div>
    
                            <div class="nav-icon text-center">
                                <a href="chat.html">
                                    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                                    <p>Xabarlar</p>
                                </a>
                            </div>
    
                            <div class="nav-icon text-center">
                                <a href="#.">
                                    <ion-icon name="person-circle-outline"></ion-icon>
                                    <p>Profil</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="nav-mobile">
    
                    <div class="nav-mobile-header">
                        <div class="nav-mobile-child">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </div>                
                        <div class="nav-mobile-child">
                            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        </div>
                        <div class="nav-mobile-child">
                            <div class="nav-mobile-logo" id="nav-logo">
                                <a href="index.html">
                                    <img src="/assets/img/logo/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="nav-mobile-child">
                            <ion-icon name="heart-outline"></ion-icon>
                        </div>                
                        <div class="nav-mobile-child">
                            <ion-icon name="duplicate-outline"></ion-icon>
                        </div>
                    </div>
    
                    <div class="nav-mobile-body">
                        <div class="nav-mobile-child">
                            <ion-icon name="menu-outline" id="katalog-btn"></ion-icon>
                        </div>
                        <div class="nav-mobile-child">
                            <div class="search-bar">
                                <ion-icon name="search-outline"></ion-icon>
                                <input type="text" placeholder="Qidirish">
                            </div>
                        </div>
                        <div class="nav-mobile-child">
                            <button style="border: none; background: transparent;" data-toggle="modal" data-target="#filter-modal">
                                <img class="filter-icon" src="/assets/img/baycar/element/filter.png" alt="">
                            </button>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

        <div class="container">
            
            <div class="showcase-body py-3">
                <div class="showcase-breadecrump">
                    <p class="py-2"><span><a href="index.html">By Car</a></span> / <span class="active"><a href="category.html">Sevimlilar</a></span></p>
                </div>
            </div>

            <div class="products-nav d-flex align-items-center justify-content-between">
                <h4 class="p-nav-name">Sevimlilar</h4>
                <div class="grid-list-filter">
                    <div class="f-icon icon-grid active" id="grid-icon-btn">
                        <ion-icon name="grid-outline"></ion-icon>
                    </div>
                    <div class="f-icon icon-list" id="list-icon-btn">
                        <ion-icon name="list-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- <div id="empty_wishlist" class="b-background">
            <div class="container">
                <div class="d-flex justify-content-center py-5">
                    <div class="text-center">
                        <img class="wishlist-img" src="/assets/img/baycar/element/wishlist.png" alt="">
                        <h5 class="t-text pt-3 pb-2">Sevimlilar ro'yxati bo'sh</h5>
                        <small class="text-muted">O’zingizga yoqqan mahsulotlarni <br> sevimlilar ro’yxatiga qo’shing</small>
                    </div>
                </div>
            </div>
        </div>  -->
    
        <div id="wishlist" class="b-background">
            <div class="container">
                
                <div class="grid-7-blog pt-4" id="grid-products">
    
                    <div class="products-box b-white">
                        <div>
                            <a href="#." class="img-a">
                                <img src="/assets/img/baycar/products/nexia1.png" alt="">
                            </a> 
                            <div class="product-about">
                                <div class="product-title">
                                    <a href="#.">Chevrolet Nexia 2 DONC</a>
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <p class="product-price">16 800 UYE</p>
                                <p class="product-address">Tashkent Yakkasaroy</p>
                                <p class="product-date">Bugun 12:27</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="products-box b-white">
                        <div>
                            <a href="#." class="img-a">
                                <img src="/assets/img/baycar/products/nexia8.jpg" alt="">
                            </a> 
                            <div class="product-about">
                                <div class="product-title">
                                    <a href="#.">Chevrolet Nexia 2 DONC</a>
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <p class="product-price">16 800 UYE</p>
                                <p class="product-address">Tashkent Yakkasaroy</p>
                                <p class="product-date">Bugun 12:27</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="products-box b-white">
                        <div>
                            <a href="#." class="img-a">
                                <img src="/assets/img/baycar/products/nexia3.png" alt="">
                            </a> 
                            <div class="product-about">
                                <div class="product-title">
                                    <a href="#.">Chevrolet Nexia 2 DONC</a>
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <p class="product-price">16 800 UYE</p>
                                <p class="product-address">Tashkent Yakkasaroy</p>
                                <p class="product-date">Bugun 12:27</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="products-box b-white">
                        <div>
                            <a href="#." class="img-a">
                                <img src="/assets/img/baycar/products/nexia4.png" alt="">
                            </a> 
                            <div class="product-about">
                                <div class="product-title">
                                    <a href="#.">Chevrolet Nexia 2 DONC</a>
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <p class="product-price">16 800 UYE</p>
                                <p class="product-address">Tashkent Yakkasaroy</p>
                                <p class="product-date">Bugun 12:27</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="products-box b-white">
                        <div>
                            <a href="#." class="img-a">
                                <img src="/assets/img/baycar/products/nexia4.png" alt="">
                            </a> 
                            <div class="product-about">
                                <div class="product-title">
                                    <a href="#.">Chevrolet Nexia 2 DONC</a>
                                    <ion-icon name="heart" class="t-danger"></ion-icon>
                                </div>
                                <p class="product-price">16 800 UYE</p>
                                <p class="product-address">Tashkent Yakkasaroy</p>
                                <p class="product-date">Bugun 12:27</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="products-box b-white">
                        <div>
                            <a href="#." class="img-a">
                                <img src="/assets/img/baycar/products/nexia1.png" alt="">
                            </a> 
                            <div class="product-about">
                                <div class="product-title">
                                    <a href="#.">Chevrolet Nexia 2 DONC</a>
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <p class="product-price">16 800 UYE</p>
                                <p class="product-address">Tashkent Yakkasaroy</p>
                                <p class="product-date">Bugun 12:27</p>
                            </div>
                        </div>
                    </div>
    
                </div>                 
                
                <div id="list-products" class="wishlist-products-blog-list d-none">
                    <div class="product-list-box">
                        <div class="grid-div">
                            <a href="detail.html" class="img-a">
                                <img src="/assets/img/baycar/products/nexia5.jpg" alt="">
                            </a> 
                            <div class="product-about">
                                <div class="product-about-child d-block">
                                    <div class="product-title">
                                        <a href="detail.html">Chevrolet Nexia 2 DONC</a>
                                        <p class="product-price d-block text-right">27 000 UYE</p>
                                    </div>
                                    <h5><ion-icon name="cash-outline"></ion-icon> 27 000 UYE</h5>
                                    <p class="calendar"><ion-icon name="calendar-clear-outline"></ion-icon> 2015</p>
                                    <p class="speedometer"><ion-icon name="speedometer-outline"></ion-icon> 167 000 km</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="location"><ion-icon name="location-outline"></ion-icon> Tashkent</p>
                                        <div class="heart-ion-icon text-right">
                                            <ion-icon name="heart-outline"></ion-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-div">
                            <a href="detail.html" class="img-a">
                                <img src="/assets/img/baycar/products/nexia1.png" alt="">
                            </a> 
                            <div class="product-about">
                                <div class="product-about-child d-block">
                                    <div class="product-title">
                                        <a href="detail.html">Chevrolet Nexia 2 DONC</a>
                                        <p class="product-price d-block text-right">34 000 UYE</p>
                                    </div>
                                    <h5><ion-icon name="cash-outline"></ion-icon> 34 000 UYE</h5>
                                    <p class="calendar"><ion-icon name="calendar-clear-outline"></ion-icon> 2015</p>
                                    <p class="speedometer"><ion-icon name="speedometer-outline"></ion-icon> 167 000 km</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="location"><ion-icon name="location-outline"></ion-icon> Tashkent</p>
                                        <div class="heart-ion-icon text-right">
                                            <ion-icon name="heart-outline"></ion-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-div">
                            <a href="detail.html" class="img-a">
                                <img src="/assets/img/baycar/products/nexia2.png" alt="">
                            </a> 
                            <div class="product-about">
                                <div class="product-about-child d-block">
                                    <div class="product-title">
                                        <a href="detail.html">Chevrolet Nexia 2 DONC</a>
                                        <p class="product-price d-block text-right">34 000 UYE</p>
                                    </div>
                                    <h5><ion-icon name="cash-outline"></ion-icon> 34 000 UYE</h5>
                                    <p class="calendar"><ion-icon name="calendar-clear-outline"></ion-icon> 2015</p>
                                    <p class="speedometer"><ion-icon name="speedometer-outline"></ion-icon> 167 000 km</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="location"><ion-icon name="location-outline"></ion-icon> Tashkent</p>
                                        <div class="heart-ion-icon text-right">
                                            <ion-icon name="heart-outline"></ion-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-div">
                            <a href="detail.html" class="img-a">
                                <img src="/assets/img/baycar/products/nexia3.png" alt="">
                            </a> 
                            <div class="product-about">
                                <div class="product-about-child d-block">
                                    <div class="product-title">
                                        <a href="detail.html">Chevrolet Nexia 2 DONC</a>
                                        <p class="product-price d-block text-right">34 000 UYE</p>
                                    </div>
                                    <h5><ion-icon name="cash-outline"></ion-icon> 34 000 UYE</h5>
                                    <p class="calendar"><ion-icon name="calendar-clear-outline"></ion-icon> 2015</p>
                                    <p class="speedometer"><ion-icon name="speedometer-outline"></ion-icon> 167 000 km</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="location"><ion-icon name="location-outline"></ion-icon> Tashkent</p>
                                        <div class="heart-ion-icon text-right">
                                            <ion-icon name="heart-outline"></ion-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    
    
        <section id="footer" class="footer">
            <div class="footer-widget">
                <div class="container">
                    <div class="footer-grid">
                         <div class="footer-grid-child">
                             <div class="footer-about">
                                 <div class="nav-logo">
                                     <img src="../assets/img/logo/logo.png" alt="">
                                 </div>
                                 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam aspernatur labore, sed incidunt necessitatibus! </p>
                             </div>
                         </div>
                         <div class="footer-grid-child">
                            <div class="footer-service-link">
                                <h4>Bizning xizmatlar</h4>
                                <ul>
                                    <li><a href="#.">Bay Market</a></li>
                                    <li><a href="#.">Bay Car</a></li>
                                    <li><a href="#.">Bay Work</a></li>
                                    <li><a href="#.">Bay House</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-grid-child">
                            <div class="footer-service-link">
                                <h4>Legal</h4>
                                <ul>
                                    <li><a href="#.">Privacy Policy</a></li>
                                    <li><a href="#.">Terms & Conditions</a></li>
                                    <li><a href="#.">Cookie Policy</a></li>
                                    <li><a href="#.">Refunds & Returns</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-grid-child">
                            <div class="footer-service-link">
                                <h4>Contact</h4>
                                <ul>
                                    <li><a href="#.">My Account</a></li>
                                    <li><a href="#.">F.A.Q</a></li>
                                    <li><a href="#.">Support Desk</a></li>
                                    <li><a href="#.">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-grid-child">
                            <div class="footer-download">
                                <h4>Download</h4>
                                <div class="download-img">
                                    <img src="/assets/img/googleplay.png" alt="">
                                    <img src="/assets/img/appstore.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="footer-bottom">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <p>&copy 2022 Bay Market All Right Reserved</p>
                            </div>
    
                            <div class="col-6">
                                <div class="footer-bottom-icon d-flex justify-content-end">
                                    <img src="../assets/img/icon/Facebook.png"  class="mx-3" alt="">
                                    <img src="../assets/img/icon/Instagram.png" class="mx-3" alt="">
                                    <img src="../assets/img/icon/Twitter.png" class="ml-3" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="/assets/js/vendor/jquery-3.5.0.min.js"></script>
    <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap/propper.min.js"></script>
    <script src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/plugins/slick.min.js"></script>
    <script src="/assets/js/plugins/nav-tool.js"></script>
    <script src="/assets/js/plugins/plugins.js"></script>
    <script src="/assets/js/owl/owl.carousel.js"></script>
    <script src="/assets/js/owl/owl.carousel.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>